name: Test hassfest

on:
  push:
  pull_request:


jobs:
  hassfest:
    runs-on: ubuntu-latest
    name: hassfest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Test hassfest
        uses: home-assistant/actions/hassfest@master
